{% extends 'shop/basic.html' %}

{% block title%} {{product.product_name}} - My Awesome Cart{% endblock %}
{% block body %}
<div class="container my-4" xmlns="http://www.w3.org/1999/html">
    <div class="row">
    <div class="col-md-4">
        <div class="row">
            <img src="/media/{{product.image}}" width="300px" height="386px">
        </div>
        <div class="row my-2">
            <button class="btn btn-primary mx-4">Buy Now</button>
            <button class="btn btn-primary">Add To Cart</button>


        </div>
    </div>

    <div class="col-md-8">
        <h5>{{product.product_name}}</h5>
        <p><b>RS. {{product.price}}</b></p>
        <p>{{product.desc}}</p>
    </div>
    </div>

</div>

{% endblock %}

{% block js %}
<script>
    console.log('Working');
    if(localStorage.getItem('cart')==null){       //localStrorage store in string
        var cart = {};
    }
    else {
        cart = JSON.parse(localStorage.getItem('cart'));    // string to json object
        document.getElementById('cart').innerHTML = Object.keys(cart).length;
    }
$('.cart').click(function(){                //jQuery
    console.log('clicked');
    var idstr = this.id.toString();
    console.log(idstr);
    if(cart[idstr] != undefined){
        cart[idstr] = cart[idstr]+1;
    }
    else
    {
        cart[idstr] = 1;
    }
    console.log(cart);
    localStorage.setItem('cart',JSON.stringify(cart));  //json to string
    document.getElementById('cart').innerHTML = Object.keys(cart).length;

    });
$('#popcart').popover();
document.getElementById("popcart").setAttribute('data-content', '<h5>Cart for your items in my shopping cart</h5>');


</script>
{% endblock %}